.twitterfollowme {
	padding-left:20px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/twitter.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.fbDockChatTab .conversationContainer .fbChatConvItem span {
	max-width:inherit !important;
}
div.messages .fbChatConvItem span a {
	word-wrap: break-word !important;
	white-space: pre-wrap;
}
.pfc_option_bubble div.messages {
	border: 1px solid #666;
	border-radius: 0 10px 10px 10px;
	background: rgba(255,255,255,0.7);
}
div.messages ._kso {
	margin:5px;
	color: inherit !important;
}

._kso {
	font-family: inherit !important;
	max-width: 80% !important;
}
/*
div.fbNubFlyoutBody {
	height: inherit !important;
}
._50mz div.fbNubFlyoutInner {
	height: inherit !important;

}
*/
div.fbNubFlyoutFooter {
	width: 100% !important;
}
.fbNubFlyoutBody td {
font-family: inherit;
}

.fbDockChatTab {
	width:100%;
}
.fbNub.user.active .titlebarTextWrapper,.titlebarTextWrapper {
	max-width:250px;
}
.typingIndicator {
	width:200px;
}
.fbNubFlyoutBody.fontbig10 span {
	font-size:10px !important;
}
.fbNubFlyoutBody.fontbig11 span {
	font-size:11px !important;
}
.fbNubFlyoutBody.fontbig12 span {
	font-size:12px !important;
}
.fbNubFlyoutBody.fontbig13 span {
	font-size:13px !important;
}
.fbNubFlyoutBody.fontbig14 span {
	font-size:14px !important;
}
.fbNubFlyoutBody.fontbig15 span {
	font-size:15px !important;
}
.fbNubFlyoutBody.fontbig16 span{
	font-size:16px !important;
}
.fbNubFlyoutBody.fontbig17 span {
	font-size:17px !important;
}
.fbNubFlyoutBody.fontbig18 span {
	font-size:18px !important;
}
.fbNubFlyoutBody.fontbig19 span {
	font-size:19px !important;
}
.fbNubFlyoutBody.fontbig20 span {
	font-size:20px !important;
}
div.pfc_buttons_head {
	padding:3px; 
	position:absolute; 
	top:0px;
	height:20px;
}
div.pfc_buttons_head button.pfc_linkfb {
	color:#000;
	float:left;
	margin-right:5px;
	cursor:pointer;
}
div.pfc_buttons_head button.pfc_linkfb:hover  {
	text-decoration:none;
	cursor:pointer;
} 
.fbNub .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/emoticons/smile.png');
	margin-right: 5px;
	display:inline-block;
	width:16px;
	height:25px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position:4px 3px;
}
.pfc_dock {
	cursor: pointer;
	color: transparent !important;
	text-decoration: none !important;
	position: absolute;
	top: 0px;
	padding: 0px;
	border: 1px solid #999;
	background: -webkit-gradient(linear, center top, center bottom, from(#F5F6F6), to(#DFDEDF));
	border-image: initial;
	width:15px;
	height:29px;
}



.pfc_dock i {
	display:block;
	height:29px;
	background-repeat:no-repeat;
}

.asciicode {
	cursor:pointer;
}

img.emote_custom  {
	width:20px;
	height:20px;
}
.choose_emoticons img {

}
.choose_emoticons img:hover {
	outline: solid 1px #ccc;
}

.pfc_fieldset {
	padding:5px;	
}
.pfc_legend {
	padding: 0 10px 0 10px;	
}


.pfc_service_drag {
	position: absolute;
	width: 40%;
	height: 30px;
	background-color: rgb(197, 59, 59);
	top: -30px;
	border: 1px solid rgb(191, 212, 243);
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	right: 0;
	box-shadow: 0 0 10px #666;
	z-index: -1;
}
.pfc_service_resize {
	position:absolute;	
	width:20px;
	height:20px;
	background-color:#f00;
	bottom: -10px;
	right:-10px;
	cursor: se-resize;
	z-index:-1;
	opacity:0;
}
.pfc .fbNub .emoticonsPanel {
	right:0 !important;
	left: auto !important;	
}
.pfcopt {
	position:relative;
	z-index:99999;
	padding-left:4px;
	padding-right:4px;
}
.pfcopt.statuson{
	box-shadow:0px 1px 0px #fff;
}

.chatIconsContainer {
	right: 0 !important;
}
._552n {
	right:0 !important;
}

#pfc_emoticon_window {
	position:fixed;
	overflow:auto;
	display:none;
	background-color:#fff;
	width: 300px;
	height: 250px;
	overflow-x:hidden;
	z-index:999;
	border: 1px solid #aaa;

	box-shadow: 2px 2px 6px #ABC;
}
#pfc_emoticon_window img {

}
#pfc_emoticon_window img:hover {
	outline: solid 1px #ccc;
}




.pfc_emoticon_tab_container {
	width:300px;
	height:20px;
	border-bottom: 1px solid #aaa;
	margin-top:3px;
	
}
.pfc_emoticon_tab_container:after,.pfc_emoticon_tab_container:before {
	content:"";
	display:table;
		
}
.pfc_clear {
	clear:both;
	visibility:hidden;
	height:0;
	font-size:0;	
}
.pfc_emoticon_tab_container:after {
	clear:both;
}
.pfc_emoticon_tab {
	
	height:20px;
	border: 1px solid #aaa;
	border-bottom:none;
	position:relative;
	top:-1px;

	width:40px;
	height:20px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	float:left;
	z-index:4;
	background-color:#efefef;
	border-radius: 8px 8px 0px 0px;
	cursor:pointer;
}

.pfcopt.statuson {
	background-color:#fff;	
}

.pfc_emoticon_tab.statuson {
	background-color:#fff;	
	border-bottom:solid 1px #fff;
}
.pfc_emoticon_tab.pfc_emoticon_tab_default {
	background-image:url('chrome-extension://__MSG_@@extension_id__/emoticons/smile.png');
	
}
.pfc_emoticon_tab.pfc_emoticon_tab_meme {
	background-image:url('chrome-extension://__MSG_@@extension_id__/emoticons/meme.png');
	
}
.pfc_emoticon_tab.pfc_emoticon_tab_smileys {
	background-image:url('chrome-extension://__MSG_@@extension_id__/emoticons/smileys.png');
	
}













#ChatTabsPageletTabs .pfc.fbNub.opened {

}
.pfc.fbNub.focusedTab {
	z-index:99 !important;	
}
/* ***** MEME THEME ******* */
.pfc_theme_meme .fbNubFlyoutBody {
	background-color:#fff;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/meme/bgmeme.jpg');
}
.pfc_theme_meme textarea,.pfc_theme_halloween .inputContainer, .pfc_theme_meme .fbNubFlyoutFooter {

}
.pfc_theme_meme  .fbNubFlyoutTitlebar, .fbNub.focusedTab .pfc_theme_meme .titlebar{
	
}
.pfc_theme_meme  .fbNubFlyoutTitlebar:hover {
	
}
.pfc_theme_meme .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:48px;
	height:48px;
	z-index:1;
	top:-38px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/meme/trollface.png')	
}
.fbNub .pfc_theme_meme .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/meme/trollface16x16.png');
}
.pfc_theme_meme  .fbNubFlyoutTitlebar {

}


/* ***** HELLO KITTY THEME ******* */
.pfc_theme_hellokitty .fbNubFlyoutBody {
	background-color:#ffacda;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#110033;
	font-family: Cardo;
	background:url('chrome-extension://__MSG_@@extension_id__/themes/hellokitty/hkbg.jpg') bottom right no-repeat,-webkit-linear-gradient(right, #fefcfd 0%,#ffe1f3 250px);
}
.pfc_theme_hellokitty textarea,.pfc_theme_hellokitty .inputContainer, .pfc_theme_hellokitty .fbNubFlyoutFooter {
	background-color:#720B5D !important;
	color:#fff;
}
.pfc_theme_hellokitty  .fbNubFlyoutTitlebar, .fbNub.focusedTab .pfc_theme_hellokitty .titlebar{
	background-color:#720B5D;
	font-family: Cardo;
}
.pfc_theme_hellokitty  .fbNubFlyoutTitlebar:hover {
	background-color:#720B5D;
}
.pfc_theme_hellokitty .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:48px;
	height:48px;
	z-index:1;
	top:-38px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/hellokitty/hk.png');
}
.fbNub .pfc_theme_hellokitty .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/hellokitty/hk16x16.png');
}
.pfc_theme_hellokitty  .fbNubFlyoutTitlebar {

}
.fbNub .pfc_theme_hellokitty .emoticonsPanel a.emoteTogglerImg,.fbNub .pfc_theme_hellokitty .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/hellokitty/hk24x24.png');
		background-position:0 0;
		
}


/* ***** JUVENTUS THEME ******* */
.pfc_theme_juventus .fbNubFlyoutBody {
	background-color:#efefef;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#000;
	font-family: Cardo;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/delpiero.png');
	background-repeat: no-repeat;
}
.pfc_theme_juventus textarea,.pfc_theme_juventus .inputContainer, .pfc_theme_juventus .fbNubFlyoutFooter {
	background-color:#e1ddde !important;
}
.pfc_theme_juventus  .fbNubFlyoutTitlebar, .fbNub.focusedTab .pfc_theme_juventus .titlebar{
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/juventusflag.png');
		background-position: 0px -70px;
}
.pfc_theme_juventus  .fbNubFlyoutTitlebar:hover {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/juventusflag.png');

}
.pfc_theme_juventus .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:48px;
	height:48px;
	z-index:1;
	top:-38px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/Juventus.png');
}
.fbNub .pfc_theme_juventus .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/Juventus16x16.png');
}
.pfc_theme_juventus  .fbNubFlyoutTitlebar {

}
.fbNub .pfc_theme_juventus .emoticonsPanel a.emoteTogglerImg,.fbNub .pfc_theme_juventus .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/Juventus24x24.png');
		background-position:0 0;
		
}

/* ***** MILAN THEME ******* */
.pfc_theme_milan .fbNubFlyoutBody {
	background-color:#333;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#f33;
	font-family: Cardo;

	background-repeat: no-repeat;
}
.pfc_theme_milan .fbNubFlyoutBody a {
	color:#a00;	
}
.pfc_theme_milan textarea,.pfc_theme_milan .inputContainer, .pfc_theme_milan .fbNubFlyoutFooter {
	background-color:#000 !important;
	color:#fff;
}
.pfc_theme_milan  .fbNubFlyoutTitlebar, .fbNub.focusedTab .pfc_theme_milan .titlebar{
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milanflag.png');
		background-position: 0px -70px;
}
.pfc_theme_milan  .fbNubFlyoutTitlebar:hover {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milanflag.png');

}
.pfc_theme_milan .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:48px;
	height:48px;
	z-index:1;
	top:-38px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milan.png');
}
.fbNub .pfc_theme_milan .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milan16x16.png');
}
.pfc_theme_milan  .fbNubFlyoutTitlebar {

}
.fbNub .pfc_theme_milan .emoticonsPanel a.emoteTogglerImg,.fbNub .pfc_theme_milan .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milan24x24.png');
		background-position:0 0;
		
}

.pfc_theme_milan.pfc_option_bubble  div.messages {
	background: rgba(30,30,30,0.7);
}
._50dw {
	border-top:0 !important;
}
/* ***** CHRISTMATS THEME ******* */
.pfc_theme_christmas .fbNubFlyoutBody {
	background-repeat: no-repeat;
	background-position: bottom right;
	background:url('chrome-extension://__MSG_@@extension_id__/themes/christmas/bg.png') bottom right no-repeat;
}
.pfc_theme_christmas textarea,.pfc_theme_christmas .inputContainer, .pfc_theme_christmas .fbNubFlyoutFooter {

}
.pfc_theme_christmas  .fbNubFlyoutTitlebar, .fbNub.focusedTab .pfc_theme_christmas .titlebar{
	background-color:#660000;
	font-family: Cardo;
}
.pfc_theme_christmas  .fbNubFlyoutTitlebar:hover {
	background-color:#900000;
}
.pfc_theme_christmas .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:50px;
	height:57px;
	z-index:1;
	top:-30px;
	left:-20px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/christmas/hat.png');
}
.fbNub .pfc_theme_christmas .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/christmas/christmas16x16.png');
}
.pfc_theme_christmas div.fbChatConvDateBreak {
	color:#ffffff;	
}

.pfc_theme_christmas  .fbNubFlyoutTitlebar {

}
.fbNub .pfc_theme_christmas .emoticonsPanel .emoteTogglerImg,.fbNub .pfc_theme_christmas .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/christmas/christmas24x24.png');
		background-position:0 0;
		
}
._50dw {
	border-top:0 !important;
}


/* ***** michaeljackson THEME ******* */
.pfc_theme_michaeljackson .fbNubFlyoutBody {
	background-repeat: no-repeat;
	background-position: bottom right;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/michaeljackson/bg.png');
}
.pfc_theme_michaeljackson  .fbNubFlyoutTitlebar, .fbNub.focusedTab .pfc_theme_michaeljackson .titlebar{
	background-color:#6f5029;
	font-family: Cardo;
}
.pfc_theme_michaeljackson  .fbNubFlyoutTitlebar:hover {
	background-color:#4f3009;
}
.pfc_theme_michaeljackson .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:64px;
	height:64px;
	z-index:1;
	top:-50px;
	left:0px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/michaeljackson/mjtop.png');
}
.fbNub .pfc_theme_michaeljackson .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/michaeljackson/mj16x16.png');
}
.pfc_theme_michaeljackson div.fbChatConvDateBreak {
	color:#ffffff;	
}

.fbNub .pfc_theme_michaeljackson .emoticonsPanel a.emoteTogglerImg,.fbNub .pfc_theme_michaeljackson .emoticonsPanel .emoteTogglerImg:hover {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/michaeljackson/mj24x24.png');
	background-position:0 0;
}
.pfc_theme_michaeljackson.pfc_option_bubble  div.messages {
	background: rgba(255,248,200,0.2);
}
/* ***** GANGNAM THEME ******* */
.pfc_theme_gangnam .fbNubFlyoutBody {
	background-color:#e1dedb;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#110033;
	font-family: Cardo;
	background:url('chrome-extension://__MSG_@@extension_id__/themes/gangnam/bg.png') bottom right no-repeat,-webkit-linear-gradient(top, #fff 0%,#fff 250px);
}
.pfc_theme_gangnam textarea,.pfc_theme_gangnam .inputContainer, .pfc_theme_gangnam .fbNubFlyoutFooter {
	background-color:#7a95a8 !important;
	color:#fff;
}
.pfc_theme_gangnam  .fbNubFlyoutTitlebar, .fbNub.focusedTab .pfc_theme_gangnam .titlebar{
	background-color:#7a95a8;
	font-family: Cardo;
}
.pfc_theme_gangnam  .fbNubFlyoutTitlebar:hover {
	background-color:#7a95a8;
}
.pfc_theme_gangnam .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:92px;
	height:48px;
	z-index:1;
	top:-48px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/gangnam/ggtop.png');
}
.fbNub .pfc_theme_gangnam .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/gangnam/gg16x16.png');
}
.pfc_theme_gangnam  .fbNubFlyoutTitlebar {

}
.fbNub .pfc_theme_gangnam .emoticonsPanel a.emoteTogglerImg,.fbNub .pfc_theme_gangnam .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/gangnam/gg24x24.png');
		background-position:0 0;
		
}



