.twitterfollowme {
	padding-left:20px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/twitter.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.fbDockChatTab .conversationContainer .fbChatConvItem .fsm {
	max-width:inherit !important;
}
div.messages .fbChatConvItem .fsm a {
	word-wrap: break-word !important;
	white-space: pre-wrap;
}
div.messages {
	
}
.fbDockChatTab {
	width:100%;
}
.fbMercuryChatTab.user.active .titlebarTextWrapper,.titlebarTextWrapper {
	max-width:250px;
}
.typingIndicator {
	width:200px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig10 .fbChatConvItem .fsm {
	font-size:10px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig11 .fbChatConvItem .fsm {
	font-size:11px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig12 .fbChatConvItem .fsm {
	font-size:12px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig13 .fbChatConvItem .fsm {
	font-size:13px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig14 .fbChatConvItem .fsm {
	font-size:14px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig15 .fbChatConvItem .fsm {
	font-size:15px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig16 .fbChatConvItem .fsm{
	font-size:16px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig17 .fbChatConvItem .fsm {
	font-size:17px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig18 .fbChatConvItem .fsm {
	font-size:18px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig19 .fbChatConvItem .fsm {
	font-size:19px;
}
.fbNubFlyout.fbDockChatTabFlyout.fontbig20 .fbChatConvItem .fsm {
	font-size:20px;
}
div.pfc_buttons_head {
	padding:3px; 
	position:absolute; 
	top:0px;
	height:20px;
}
div.pfc_buttons_head button.pfc_linkfb {
	color:#000;
	float:left;
	margin-right:5px;
	cursor:pointer;
}
div.pfc_buttons_head button.pfc_linkfb:hover  {
	text-decoration:none;
	cursor:pointer;
} 
.fbMercuryChatTab .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/emoticons/smile.png');
	margin-right: 5px;
	display:inline-block;
	width:16px;
	height:25px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position:0 3px;
}
.pfc_dock {
	cursor: pointer;
	color: transparent !important;
	text-decoration: none !important;
	position: absolute;
	top: 0px;
	padding: 0px;
	border: 1px solid #999;
	background: -webkit-gradient(linear, center top, center bottom, from(#F5F6F6), to(#DFDEDF));
	border-image: initial;
	width:15px;
	height:29px;
}

.pfc_dock i {
	display:block;
	height:29px;
	background-repeat:no-repeat;
}

.asciicode {
	cursor:pointer;
}

img.emote_custom  {
	width:20px;
	height:20px;
}
.choose_emoticons img {

}
.choose_emoticons img:hover {
	outline: solid 1px #ccc;
}

.pfc_fieldset {
	padding:5px;	
}
.pfc_legend {
	padding: 0 10px 0 10px;	
}

/* ***** HALLOWEEN THEME ******* */
.pfc_theme_halloween .fbNubFlyoutBody {
	background-color:#333;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/halloween/background-halloween.jpg');
	color:#FA0;
	font-family: Butcherman,Eater;
}
.pfc_theme_halloween textarea,.pfc_theme_halloween .inputContainer {
	background-color:#000;
	color:#fff;
}
.pfc_theme_halloween  .fbNubFlyoutTitlebar, .fbMercuryChatTab.focusedTab .pfc_theme_halloween .titlebar{
	background-color:#9E6D09;
	font-family: Butcherman,Eater;
}
.pfc_theme_halloween  .fbNubFlyoutTitlebar:hover {
	background-color:#D6AA22;	
}
.pfc_theme_halloween .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:48px;
	height:48px;
	z-index:1;
	top:-38px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/halloween/Jack-O-Lantern-icon.png')	
}
.fbMercuryChatTab .pfc_theme_halloween .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/halloween/Jack-O-Lantern-icon16x16.png');
}
.pfc_theme_halloween  .fbNubFlyoutTitlebar {
	border:solid 1px #9E6D09;
}

/* ***** MEME THEME ******* */
.pfc_theme_meme .fbNubFlyoutBody {
	background-color:#fff;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/meme/bgmeme.jpg');
}
.pfc_theme_meme textarea,.pfc_theme_halloween .inputContainer {

}
.pfc_theme_meme  .fbNubFlyoutTitlebar, .fbMercuryChatTab.focusedTab .pfc_theme_meme .titlebar{
	
}
.pfc_theme_meme  .fbNubFlyoutTitlebar:hover {
	
}
.pfc_theme_meme .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:48px;
	height:48px;
	z-index:1;
	top:-38px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/meme/trollface.png')	
}
.fbMercuryChatTab .pfc_theme_meme .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/meme/trollface16x16.png');
}
.pfc_theme_meme  .fbNubFlyoutTitlebar {

}


/* ***** HELLO KITTY THEME ******* */
.pfc_theme_hellokitty .fbNubFlyoutBody {
	background-color:#ffacda;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#110033;
	font-family: Cardo;
	background:url('chrome-extension://__MSG_@@extension_id__/themes/hellokitty/hkbg.jpg') bottom right no-repeat,-webkit-linear-gradient(right, #fefcfd 0%,#ffe1f3 250px);
}
.pfc_theme_hellokitty textarea,.pfc_theme_hellokitty .inputContainer {
	background-color:#720B5D;
	color:#fff;
}
.pfc_theme_hellokitty  .fbNubFlyoutTitlebar, .fbMercuryChatTab.focusedTab .pfc_theme_hellokitty .titlebar{
	background-color:#720B5D;
	font-family: Cardo;
}
.pfc_theme_hellokitty  .fbNubFlyoutTitlebar:hover {
	background-color:#720B5D;
}
.pfc_theme_hellokitty .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:48px;
	height:48px;
	z-index:1;
	top:-38px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/hellokitty/hk.png');
}
.fbMercuryChatTab .pfc_theme_hellokitty .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/hellokitty/hk16x16.png');
}
.pfc_theme_hellokitty  .fbNubFlyoutTitlebar {

}
.fbMercuryChatTab .pfc_theme_hellokitty .emoticonsPanel a.emoteTogglerImg,.fbMercuryChatTab .pfc_theme_hellokitty .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/hellokitty/hk24x24.png');
		background-position:0 0;
		
}


/* ***** JUVENTUS THEME ******* */
.pfc_theme_juventus .fbNubFlyoutBody {
	background-color:#efefef;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#000;
	font-family: Cardo;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/delpiero.png');
	background-repeat: no-repeat;
}
.pfc_theme_juventus textarea,.pfc_theme_juventus .inputContainer {
	background-color:#e1ddde;
}
.pfc_theme_juventus  .fbNubFlyoutTitlebar, .fbMercuryChatTab.focusedTab .pfc_theme_juventus .titlebar{
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/juventusflag.png');
		background-position: 0px -70px;
}
.pfc_theme_juventus  .fbNubFlyoutTitlebar:hover {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/juventusflag.png');

}
.pfc_theme_juventus .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:48px;
	height:48px;
	z-index:1;
	top:-38px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/Juventus.png');
}
.fbMercuryChatTab .pfc_theme_juventus .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/Juventus16x16.png');
}
.pfc_theme_juventus  .fbNubFlyoutTitlebar {

}
.fbMercuryChatTab .pfc_theme_juventus .emoticonsPanel a.emoteTogglerImg,.fbMercuryChatTab .pfc_theme_juventus .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/juventus/Juventus24x24.png');
		background-position:0 0;
		
}

/* ***** MILAN THEME ******* */
.pfc_theme_milan .fbNubFlyoutBody {
	background-color:#333;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#f33;
	font-family: Cardo;

	background-repeat: no-repeat;
}
.pfc_theme_milan .fbNubFlyoutBody a {
	color:#a00;	
}
.pfc_theme_milan textarea,.pfc_theme_milan .inputContainer {
	background-color:#000;
	color:#fff;
}
.pfc_theme_milan  .fbNubFlyoutTitlebar, .fbMercuryChatTab.focusedTab .pfc_theme_milan .titlebar{
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milanflag.png');
		background-position: 0px -70px;
}
.pfc_theme_milan  .fbNubFlyoutTitlebar:hover {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milanflag.png');

}
.pfc_theme_milan .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:48px;
	height:48px;
	z-index:1;
	top:-38px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milan.png');
}
.fbMercuryChatTab .pfc_theme_milan .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milan16x16.png');
}
.pfc_theme_milan  .fbNubFlyoutTitlebar {

}
.fbMercuryChatTab .pfc_theme_milan .emoticonsPanel a.emoteTogglerImg,.fbMercuryChatTab .pfc_theme_milan .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/milan/milan24x24.png');
		background-position:0 0;
		
}



/* ***** CHRISTMATS THEME ******* */
.pfc_theme_christmas .fbNubFlyoutBody {
	background-color:#375c28;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#fafafa;
	text-shadow:1px 1px 0px #000;
	background:url('chrome-extension://__MSG_@@extension_id__/themes/christmas/bg.png') bottom right no-repeat,-webkit-linear-gradient(top, #79040a 0%,#a50008 250px);
}
.pfc_theme_christmas textarea,.pfc_theme_christmas .inputContainer {
	background-color:#600005;
	color:#fff;
}
.pfc_theme_christmas  .fbNubFlyoutTitlebar, .fbMercuryChatTab.focusedTab .pfc_theme_christmas .titlebar{
	background-color:#1e3100;
	font-family: Cardo;
}
.pfc_theme_christmas  .fbNubFlyoutTitlebar:hover {
	background-color:#1e3100;
}
.pfc_theme_christmas .fbChatConvItem {
	border-top: 1px solid #600005;	
}
.pfc_theme_christmas .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:50px;
	height:57px;
	z-index:1;
	top:-30px;
	left:-20px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/christmas/hat.png');
}
.fbMercuryChatTab .pfc_theme_christmas .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/christmas/christmas16x16.png');
}
.pfc_theme_christmas div.fbChatConvDateBreak {
	color:#ffffff;	
}
.pfc_theme_christmas .fbNubFlyoutBody a,.pfc_theme_christmas .fbNubFlyoutBody .filename {
	color: #90f892;	
}
.pfc_theme_christmas  .fbNubFlyoutTitlebar {

}
.fbMercuryChatTab .pfc_theme_christmas .emoticonsPanel a.emoteTogglerImg,.fbMercuryChatTab .pfc_theme_christmas .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/christmas/christmas24x24.png');
		background-position:0 0;
		
}


/* ***** Vampire THEME ******* */
.pfc_theme_vampire .fbNubFlyoutBody {
	background-color:#000;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#fafafa;
	background:url('chrome-extension://__MSG_@@extension_id__/themes/vampire/bg.png') bottom right no-repeat,-webkit-linear-gradient(left, #1c0606 0%,#160505 200px);
}
.pfc_theme_vampire textarea,.pfc_theme_vampire .inputContainer {
	background-color:#300;
	color:#fff;
}
.pfc_theme_vampire  .fbNubFlyoutTitlebar, .fbMercuryChatTab.focusedTab .pfc_theme_vampire .titlebar{
	background-color:#200;
	font-family: Cardo;
}
.pfc_theme_vampire  .fbNubFlyoutTitlebar:hover {
	background-color:#300;
}
.pfc_theme_vampire .fbChatConvItem {
	border-top: 1px solid #000;	
}
.pfc_theme_vampire .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:150px;
	height:157px;
	z-index:1;
	top:0px;
	left:0px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/vampire/vampiretop.png');
}
.fbMercuryChatTab .pfc_theme_vampire .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/vampire/vampire16x16.png');
}
.pfc_theme_vampire div.fbChatConvDateBreak {
	color:#ffffff;	
}
.pfc_theme_vampire .fbNubFlyoutBody a,.pfc_theme_vampire .fbNubFlyoutBody .filename {
	color: #90f892;	
}
.pfc_theme_vampire  .fbNubFlyoutTitlebar {

}
.fbMercuryChatTab .pfc_theme_vampire .emoticonsPanel a.emoteTogglerImg,.fbMercuryChatTab .pfc_theme_vampire .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/vampire/vampire24x24.png');
		background-position:0 0;
		
}

.fbNubFlyoutBody td {
	font-family:inherit !important;	
}


/* ***** michaeljackson THEME ******* */
.pfc_theme_michaeljackson .fbNubFlyoutBody {
	background-color:#000;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#fafafa;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/michaeljackson/bg.png');
}
.pfc_theme_michaeljackson textarea,.pfc_theme_michaeljackson .inputContainer {
	background-color:#222;
	color:#fff;
}
.pfc_theme_michaeljackson  .fbNubFlyoutTitlebar, .fbMercuryChatTab.focusedTab .pfc_theme_michaeljackson .titlebar{
	background-color:#6f5029;
	font-family: Cardo;
}
.pfc_theme_michaeljackson  .fbNubFlyoutTitlebar:hover {
	background-color:#afafaf;
	color:#000;
}
.pfc_theme_michaeljackson .fbChatConvItem {
	border-top: 1px solid #000;	
}
.pfc_theme_michaeljackson .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:64px;
	height:64px;
	z-index:1;
	top:-50px;
	left:0px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/michaeljackson/mjtop.png');
}
.fbMercuryChatTab .pfc_theme_michaeljackson .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/michaeljackson/mj16x16.png');
}
.pfc_theme_michaeljackson div.fbChatConvDateBreak {
	color:#ffffff;	
}
.pfc_theme_michaeljackson .fbNubFlyoutBody a,.pfc_theme_michaeljackson .fbNubFlyoutBody .filename {
	color: #90f892;	
}
.fbMercuryChatTab .pfc_theme_michaeljackson .emoticonsPanel a.emoteTogglerImg,.fbMercuryChatTab .pfc_theme_michaeljackson .emoticonsPanel .emoteTogglerImg:hover {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/michaeljackson/mj24x24.png');
	background-position:0 0;
}

/* ***** GANGNAM THEME ******* */
.pfc_theme_gangnam .fbNubFlyoutBody {
	background-color:#e1dedb;
	background-repeat: no-repeat;
	background-position: bottom right;
	color:#110033;
	font-family: Cardo;
	background:url('chrome-extension://__MSG_@@extension_id__/themes/gangnam/bg.png') bottom right no-repeat,-webkit-linear-gradient(top, #fff 0%,#fff 250px);
}
.pfc_theme_gangnam textarea,.pfc_theme_gangnam .inputContainer {
	background-color:#7a95a8;
	color:#fff;
}
.pfc_theme_gangnam  .fbNubFlyoutTitlebar, .fbMercuryChatTab.focusedTab .pfc_theme_gangnam .titlebar{
	background-color:#7a95a8;
	font-family: Cardo;
}
.pfc_theme_gangnam  .fbNubFlyoutTitlebar:hover {
	background-color:#7a95a8;
}
.pfc_theme_gangnam .fbNubFlyoutTitlebar.titlebar::before {
	display:block;
	content:"";
	position:absolute;
	width:92px;
	height:48px;
	z-index:1;
	top:-48px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/gangnam/ggtop.png');
}
.fbMercuryChatTab .pfc_theme_gangnam .titlebar .button.uiSelectorButton.pfcopt {
	background-image:url('chrome-extension://__MSG_@@extension_id__/themes/gangnam/gg16x16.png');
}
.pfc_theme_gangnam  .fbNubFlyoutTitlebar {

}
.fbMercuryChatTab .pfc_theme_gangnam .emoticonsPanel a.emoteTogglerImg,.fbMercuryChatTab .pfc_theme_gangnam .emoticonsPanel .emoteTogglerImg:hover {
		background-image:url('chrome-extension://__MSG_@@extension_id__/themes/gangnam/gg24x24.png');
		background-position:0 0;
		
}



